
Project2/.DS_Store
.DS_Store
Project2/.idea/dictionaries/xl041.xml
Project2/.idea/libraries/R_User_Library.xml
Project2/.idea/misc.xml
Project2/.idea/modules.xml
Project2/.idea/Project2.iml
Project2/.idea/vcs.xml
Project2/.idea/workspace.xml
.DS_Store
